{% extends 'base.html' %}
{% block content %}
    
<form action="/products" method="POST">

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder ="Name" required autofocus>
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description" required>
    </div>

    <div>
        <label for="stock_quantity">Stock Quantity:</label>
        <input type="number" id="stock_quantity" name="stock_quantity" placeholder="Stock Quantity">
    </div>

    <div>
        <label for="buying_cost">Buying Cost:</label>
        <input type="number" id="buying_cost" name="buying_cost" step=".01" placeholder="Buying Cost">
    </div>

    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="number" id="selling_price" name="selling_price" step=".01" placeholder="Selling Price">
    </div>

    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" placeholder="Category">
    </div>

    <div>
        <label for="manufacturer">Manufacturer:</label>
        <select name="manufacturer_id" id="manufacturer">
            {% for manufacturer in manufacturers %}
                {% if manufacturer.deactivated == False %}
                    <option value="{{ manufacturer.id }}">{{ manufacturer.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <button type="submit">Add Product</button>

</form>

{% endblock content %}