{% extends 'base.html' %}
{% block content %}
    
<form action="/products/{{product.id}}" method="POST">
    
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{product.name}}" required autofocus>
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{product.description}}" required>
    </div>

    <div>
        <label for="stock_quantity">Stock Quantity:</label>
        <input type="number" id="stock_quantity" name="stock_quantity" value="{{product.stock_quantity}}">
    </div>

    <div>
        <label for="buying_cost">Buying Cost:</label>
        <input type="number" id="buying_cost" name="buying_cost" step=".01" value="{{product.buying_cost}}">
    </div>

    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="number" id="selling_price" name="selling_price" value="{{product.selling_price}}">
    </div>

    <div>
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" value="{{product.category}}">
    </div>

    <div>
        <label for="manufacturer">Manufacturer:</label>
        <select id="manufacturer" name="manufacturer_id">
            {% for manufacturer in manufacturers %}
            <option value="{{ manufacturer.id }}" {% if product.manufacturer.id== manufacturer.id %} selected="selected" {% endif %}>
                {{ manufacturer.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Update Product</button>

</form>

{% endblock content %}