{% extends 'base.html' %}

{% block content %}

{% for product in products %}
    
    <div>
        <p>{{product.name}}</p>
        <p>{{product.description}}</p>
        <p>{{product.stock_quantity}}</p>
        <p>{{product.buying_cost}}</p>
        <p>{{product.selling_price}}</p>
        <p>{{product.manufacturer.id}}</p>
    </div>
    
    <div>
        <form class= "delete-form" action="/products/{{product.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>
    </div>
    
    <div>
        {% if product.stock_quantity < 6 %}
        <i class="fas fa-exclamation-triangle" style="color:amber" aria-hidden="true"></i>                
        {% endif %}
    </div>
    
{% endfor %} 

{% endblock content %}