{% extends 'base.html' %}

{% block content %}

{% for product in products %}
    
    <div>
        <p>               
            <a href="/products/{{product.id}}">{{product.name}}</a>
        </p>
        <p>{{product.description}}</p>
        <p>{{product.stock_quantity}}</p>
        <p>{{product.buying_cost}}</p>
        <p>{{product.selling_price}}</p>
        <p>{{product.manufacturer.name}}</p>
    </div>
    
    <div>
        <form class= "delete-form" action="/products/{{product.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:green" aria-hidden="true"></i></button>
        </form>
        <p>Delete Product From Range</p> 
    </div>
    
    <div>
        <p>
            {% if product.stock_quantity < 6 %}
                <i class="fa fa-exclamation fa-3x" style="color:red" aria-hidden="true"></i>
                <p>Warning: low stock</p>              
            {% endif %}
        </p>
    </div>
    
{% endfor %} 

{% endblock content %}