{% extends 'base.html' %}

{% block content %}

<section class="filters-flex">

<div class="filter-by">
    <h3>Filter by manufacturer:</h3>
    {% for manufacturer in manufacturers %}
    <a href="/products/manufacturer/{{manufacturer.id}}">{{manufacturer.name}}</a>
    {% endfor %}
</div>

<div class="filter-by">
    <h3>Filter by category:</h3>
    {% for category in categories %}
    <a href="/products/category/{{category}}">{{category}}</a>         
    {% endfor %}   
</div>

</section>

<section class="flex-container">

{% for product in products %}   
  
<div class="product-details">
    <div>
        <p>               
            <a href="/products/{{product.id}}">{{product.name}}</a>
        </p>
        <p>{{product.description}}</p>
        <p>Stock quantity: {{product.stock_quantity}}</p>
        <p>Buying cost: £{{product.buying_cost}}</p>
        <p>Selling price: £{{product.selling_price}}</p>
        <p>Category: {{product.category}}</p>
        <p>Manufacturer: {{product.manufacturer.name}}</p>
        <p>Markup: {{product.calculate_markup(product)}}%</p>
    </div>
    
    <div>
        <form class= "delete-form" action="/products/{{product.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:green" aria-hidden="true"></i></button>
        </form>
        <p>Delete Product From Range</p> 
    </div>
    
    <div>
        <p>
            {% if product.stock_quantity == 0 %}
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                <p>Out of stock</p>
            {% elif product.stock_quantity < 6 %}
                <i class="fa fa-exclamation fa-3x" style="color:red" aria-hidden="true"></i>
                <p>Warning: low stock</p>              
            {% endif %}
        </p>
    </div>
</div>

{% endfor %}
</section>

{% endblock content %}