{% extends 'base.html' %}

{% block content %}

{% for manufacturer in manufacturers %}
    
    <div>
        <p>
            <a href="/manufacturers/{{manufacturer.id}}">{{manufacturer.name}}</a>
        </p>
    </div>
    
    <div>
        <p>
            Address: {{manufacturer.address}}
        </p>
    </div>

    <div>
        <p>
            <span>Is this manufacturer active?:</span> 
            {% if manufacturer.deactivated == True %}
                <span>No</span>    
            {% else %}
                <span>Yes</span>
            {% endif %}
        </p>
    </div>

    <div>
        <form class= "delete-form" action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:green" aria-hidden="true"></i></button>
        </form>
    </div>
    
{% endfor %} 

{% endblock content %}