{% extends 'base.html' %}   

{% block content %}

<div>
    <p>{{manufacturer.name}}</p>
    <hr>
</div>

<div>
    <p>{{manufacturer.address}}</p>
</div>

<div>
    <p>
        <span>Is this manufacturer active?:</span> 
        {% if manufacturer.deactivated == True %}
            <span>No</span>    
        {% else %}
            <span>Yes</span>
        {% endif %}
    </p>
</div>

<div>
    <p>
        <a href="/manufacturers/{{manufacturer.id}}/edit">Edit</a>
    </p>
</div>

{% endblock content %}