<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Sweet Shop Manager</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/products/add">Add Product</a></li>
                <li><a href="/manufacturers">Manufacturers</a></li>
                <li><a href="/manufacturers/add">Add Manufacturer</a></li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>